/* Daniel Boyko's code
 Student number 200531354 */
@font-face {
    font-family: 'Copperplate';
    src: url(../fonts/CoppergateBlack.ttf);
}
html{
    scroll-behavior: smooth;
}
body{
    margin: 0px;
}
.logo img{
    height: 100%;
    width: auto;
}
header{
     display: flex;
    align-items: center;
     height: 125px;
     background-color: #EEC773;
    padding: 1% 2% 1% 2%;
}
header div{
    height: 115px;
    width: auto;
     flex-grow: 1;
}
header nav menu{
    display: flex;
    gap: 50px;
}
header nav menu li{
     list-style: none;
}
header nav menu li a{
    text-decoration: none;
    color: #0e0e0e;
    transition: 0.6s;
    font-size: 25px;
}
header nav menu li a:hover{
 color: #DA2B1F;
}
.h-line{
    height: 2px;
    width: auto;
    background-color: #DA2B1F;
}
.product{
    margin: 5% 5% 0 5%;
    display: flex;
    gap: 10%;
}
.product img{
    height: auto;
    width: 40%;
    border-radius: 10px;
    border: solid 2px #DA2B1F;
}
.product-details{
    display: flex;
    flex-direction: column;
    gap: 2%;
}        
.product-details h2{
    font-family: 'Lora', serif;
    font-size: 42px;
    font-weight: 600;
}
.product-details p{
    font-family: 'Raleway', sans-serif;
}
.product-details button{
    background-color: #DA2B1F;
    border: none;
    height: 40px;
    width: 50%;
    border-radius: 20px;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    transition: 0.5s;
    color: #f5f5f5;
}
.product-details button:hover{
    transform: scale(1.05);
    font-weight: 800;
    color: #ffd700;
}
.product-details button:active{
    transform: scale(0.98);
}
.product-details li{
    list-style: none;
}
.product-details li a{
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    color: #0e0e0e;
    transition: 0.42s;
}
.product-details li a:hover{
    color: #ffd700;
}
.product-details li a:active{
    transform: scale(0.97);
    color: #ffd700;
}
.ct-container{
    border: solid 2px #0e0e0e;
    margin: 5.5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center ;
    width: auto;
    border-radius: 10px;
}
.ct-container h3{
    font-family: 'Lora', serif;
    font-size: 27px;
    font-weight: 600;
    padding-top: 20px;
}
.ct-container p{
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
}
.ct-container li{
    list-style: none;
    margin-bottom: 15px;
}
.ct-container li a{
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
}
.ct-container li a:hover{
    color: #DA2B1F;
} 
.showcase{
    padding: 1% 8% 1% 8%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.showcase h3:nth-child(1){
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
}
.sc-container{
    display: flex;
    gap: 2%;
}
.sc-item img{
    border-radius: 10px;
    border: solid 2px #DA2B1F;
}
.sc-item h3{
    font-size: 25px;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    line-height: 30px;
}
.sc-item h4{
    font-size: 23px;
    font-family: 'Lora', serif;
}
.sc-item button{
    font-family: 'Copperplate', sans-serif;
    font-weight: 700;
    font-size: 22px;
    color: #f5f5f5;
    height: 40px;
    width: auto;
    background-color: #DA2B1F;
    border: none;
    border-radius: 30px;
    transition: 0.6s;
}
.sc-item button:hover{
    color: #EEC773;
    transform: scale(1.05);
}
.sc-item button:active{
    transform: scale(0.98);
}
.exep-item h4{
    padding-top: 29px;
}
.newsletter{
    background-color: #EEC773;
    padding: 1% 8% 1% 8%;
    display: flex;
    justify-content: center;
    gap: 3%;
}
.nl-cta h3, .nl-social h3{
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
}
.nl-cta button{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #f5f5f5;
    height: 40px;
    width: auto;
    background-color: #DA2B1F;
    border: none;
    border-radius: 30px;
    transition: 0.6s;
    cursor: pointer;
}
.nl-cta button:hover{
    color: #EEC773;
    transform: scale(1.05);
}
.nl-cta button:active{
    transform: scale(0.98);
}
.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
}
ul{
	list-style: none;
}
.footer{
	background-color: #f5f5f5;
    padding: 70px 0;
    font-family: 'Raleway', sans-serif;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #DA2B1F;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #EEC773;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #0e0e0e;
	text-decoration: none;
	font-weight: 300;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #DA2B1F;
	padding-left: 8px;
}
.contact-form{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
#submit{
    background-color: #EEC773;
    color: #0e0e0e;
    font-size: 14px;
    border: none;
    border-radius: 10px;
    height: 30px;
    transition: 0.4s;
}
#submit:hover{
    border: solid 2px #DA2B1F;
}
